{% extends "lab_10/layout/base.html" %}

{{% block header %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>{{author}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="text-center"><strong>{{author}}</strong></h4>
                                        <h4 class="text-center small">{{kode_identitas}}</h4>
                                        <p class="text-center">
                                            <a href="{% url 'lab-10:dashboard' %}" class="btn btn-info"> Dashboard </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock%}


{% block content %}
  <div class="row" id="title-section">
    <h1 id="movie-title">{{movie.title}} ({{movie.year}})</h1>
  </div>
  <div class="row" style="margin-top: 3%;">
    <div class="col-lg-4 col-md-12">
      <img src="{{movie.poster}}" id="movie-poster"></img>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <h2>Details</h2>
        <div class="col-lg-12" id="movie-details">
          <h4 style="font-weight: 800;"><span id="details-title">Genre</span>: {{movie.genre}}</h4>
          <h4 style="font-weight: 800;"><span id="details-title">Director</span>: {{movie.director}}</h4>
          <h4 style="font-weight: 800;"><span id="details-title">Writer</span>: {{movie.writer}}</h4>
          <h4 style="font-weight: 800;"><span id="details-title">Production</span>: {{movie.production}}</h4>
          <h4 style="font-weight: 800;"><span id="details-title">Website</span>: <a href="{{movie.website}}">{{movie.website}}</a></h4>
          <h4 style="font-weight: 800;"><span id="details-title">Duration</span>: {{movie.runtime}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" style="padding: 0;">
          <h2>Casts</h2>
          <h3 id="actor">{{movie.actors}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 1%;">
    <h2>Synopsis</h2>
    <h3 id="plot">"{{movie.plot}}"</h3>
  </div>
  <div class="box">
      {% if added %}
      <button class="btn btn-success"> Added to Watch Later </button>
      {% else %}
      <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
      {% endif%}
      <a href="/lab-10/movie/list/" class="btn btn-primary" style="margin-left: 2%;"> Back to List </a>
  </div>

{% endblock %}
