@import url('https://fonts.googleapis.com/css?family=Muli');
body{
   font-family: Muli;
   background-color: #f6f6f6;
}
.container {
	width: 80%;
	text-align: center;
}
footer {
	margin-bottom: 0px;
}
.profile {
	text-align: center;
}
.cover {
	text-align: center;
	margin-top: 20px;
	width:60%;
	margin-bottom: 0px;
}
.picture {
	margin-top: -99px;
	text-align: center;
	border-radius: 50%;
	padding: 8px;
	background-color: white;
	width: 100px;
}
.feed {
	text-align: center;
}
.data {
	margin-top: -15px;
	margin-left: 20%;
	margin-right: 20%;
	background-color: white;
	width: 60%;
	padding: 20px;
}
#postInput {
	margin-top: 30px;
	width: 60%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	box-sizing: border-box;
}
.postStatus {
	width: 30%;
	margin-top: 20px;
	text-align: center;
	margin-left: 35%;
	margin-right: 35%;
}
.logout {
	width: 10%;
	margin-top: 20px;
	text-align: center;
	margin-left: 45%;
	margin-right: 45%;
	padding: 10px;
}
.feed {
	margin-top: 30px;
	padding: 20px;
	background-color: white;
	color: black;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}
.fb-pic {
	width: 41px;
	margin-bottom: 4px;
}
.button-login {
	padding: 10px;
	background-color: #3b5999;
	color: white;
	font-size: 20px;
}
h3 {
	font-size: 30px;
}