{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1>Portofolio</h1>
    <hr/>
    <section name="profil" align= center>
		<p>
				<img src="https://i.pinimg.com/736x/aa/85/1f/aa851f6435b09dcb2d5d024fc9da49d8--emoji-mario.jpg" width="150" height="150" style = "border-radius: 50%">
			<h3>{{author}}</h3>
		</p>
	</section>
	<section name="bio">
		<h2>Bio</h2>
		<p class="p">
			{{content}}
		</p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    
	<section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
